@page "/tabs"

<h3>Tabs</h3>

<Tabs>
    <TabPanel Title="Tab 1">
        <h2>Titolo tab 1</h2>
        <p>Descrizione tab 1</p>
    </TabPanel>
    <TabPanel Title="Tab 2">
        <h2>Titolo tab 2</h2>
        <p>Descrizione tab 2</p>
    </TabPanel>
    <TabPanel Title="Tab 3">
        <h2>Titolo tab 3</h2>
        <p>Descrizione tab 3</p>
    </TabPanel>
</Tabs>


@code {

}
